@keyframes slideDown {
    from {
        transform: translateY(-200%);
        opacity: 0.6;
    }

    to {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes bodyanimation {
    from {
        margin-top: -100px;
    }
    to {
        margin: 30px auto;
    }
}

@keyframes altanim {
    0% {
        transform: translateY(-200%) scale(1.1);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes backgroundanim {
    0% {
        filter: blur(40px);
        transform: scale(1.1);
    }

    100% {
        filter: blur(0px);
        transform: scale(1);
    }
}

@keyframes rainbowFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("Resources/backgroundimg.jpg");
    background-size: cover;
    background-position: center;
    animation: backgroundanim 1.2s cubic-bezier(0.15, 0, 0.2, 1) forwards;
}

header {
    font-family: Helvetica;
    font-size: 12px;
    text-anchor: middle;
    background-image: linear-gradient(to bottom, rgba(68, 68, 68, 0.8) 0%,
    rgba(45, 45, 45, 0.8) 50%,
    rgba(13, 13, 13, 0.8) 50%,
    rgba(51, 51, 51, 0.8) 100%
    );
    color: #eee;
    padding: 0px 10px;
    display: flex;
    justify-content: left;
    align-items: stretch;
    /* outline-style: outset; */
    /* outline-color: gray; */
    height: 38px;
    backdrop-filter: blur(20px);
    /* text-shadow: 1px 0px 7px #000000; */
    transform: skew(0deg, 0deg);
    border-radius: 10px;
    position: relative;
    z-index: 100;
    overflow: hidden;
    animation: 1s ease-out forwards;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient( to right, #ff3b30, #ff9500, #ffcc00, #4cd964, #5ac8fa, #007aff, #5856d6, #ff3b30 );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    animation: rainbowFlow 4s linear infinite;
    font-family: Helvetica;
}

nav {
    display: flex;
}

body {
    background-color: #f4f1ea;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Helvetica;
    font-weight: 300;
    animation: bodyanimation 1s ease-out forwards;
    color: white;
    overflow: hidden;
    text-decoration: none;
}

ul {
    font-family: Helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}

hb {
    height: 100%;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 12px 24px;
    border-radius: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

hb:hover {
    color: gray;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    text-decoration: none;
}

hb:active {
    color: rgb(0, 193, 255);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    text-decoration: none;
}

.content-box {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%,
    rgba(240, 240, 240, 0.6) 50%,
    rgba(245, 245, 245, 0.6) 100%
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 50px auto;
    padding: 30px;
    max-width: 1000px;
    width: 85%;
    color: #222;
    text-align: center;
    font-family: Helvetica;
    animation: altanim 0.8s cubic-bezier(0.15, 0, 0.2, 1) forwards;
    text-wrap-style: ;
}

.BodyHeader {
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}